<%- include('header') %>


<form method="GET" action="/result">
    <input type="text" name="site" placeholder="Site">
    <input type="text" name="MainClass" placeholder="Main class">
    <input type="text" name="FirstTag" placeholder="First Tag">
    <input type="text" name="SecondTag" placeholder="Second Tag">
    <button>Crawler</button>





</form>



<%- include('footer') %>